torch==2.12.1

transformers==4.41.2
datasets==2.20.0
seqeval==1.2.2
evaluate==0.4.2
accelerate==0.32.1

optimum[onnxruntime]==1.27.0
onnx==1.16.1
onnxruntime==1.18.1

streamlit==1.37.1

numpy==1.26.4
scikit-learn==1.5.1
huggingface_hub==0.33.1
psutil==6.0.0
tqdm==4.66.4